
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

favicon.ico
favicon.svg
favicon-96x96.png
apple-touch-icon.png
site.webmanifest
browserconfig.xml (sometimes)
web-app-manifest-512x512.png
web-app-manifest-192x192.png
